.btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: small;
    border: none;
    background-color: #39A900;
    border-radius: 5px;
    padding: 1vh 1.5vw;
    margin: 0.5rem;
}

.btn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    background-color: #328d04;
} 