.IMCont{
    display: flex;
    justify-content: space-between;
    max-width: 20vw;
    width: 18vw;
}

.IMTitle{
    font-size: small;
    color: black;
    font-weight: bolder;
    width: 70%;
}

.IMText{
    display: flex;
    color: black;
    font-size: small;
}