.itemsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55vw;
    max-height: 50vh;
    overflow: auto;
    background: rgba(57, 169, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.itemsContainer::-webkit-scrollbar {
    width:0.8rem;
}

.itemsContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}