.modalRequest-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    z-index: 0;
}

.MRCont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 50vh;
    max-height: 100%;
    max-width: fit-content;
    z-index: 200;
}

.modalRequest-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 1rem 3rem;
    gap: 1.5rem;
}

.MRInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    background-color: rgba(57, 169, 0, 0.30);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.MROptions{
    height: 60%;
}

.MRButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: rgba(213, 213, 213, 0.80);
    border-radius: 0px 0px 10px 10px ;
    width: 100%/* calc(100% + 2rem) */;
}

.inputRequest-Label {
    display: block;
    color: black;
    font-weight: 800;
    width: 100%;
    margin-left: 0.5rem;
}

.MROptions select:focus{
    /* border: #39A900 2px solid;
    outline: none; */
}

.inputRequest{
    color: black;
    background: rgba(217, 217, 217, 0.40);
    border-radius: 5px;
    border: 1px solid rgba(57, 169, 0, 0.30);
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    width: 20vw;
    max-width: 20vw;
}

.form-validationRequest {
    width: 100%;
    display: block;
    font-size: 12px;
    color: red;
    position: relative;
    margin-left: 1rem;
}


@media screen and (max-width:768px){
    .MRCont{
        min-width: 55vw;
        height: 50vh;
    }

    .inputRequest{
        width: 45vw;
        min-width: 45vw;
    }
}

@media screen and (max-width:480px){
    .MRCont{
        min-width: 80vw;
        height: 50vh;
    }
    .inputRequest{
        width: 65vw;
        min-width: 65vw;
    }
}