.container {  
  display: grid;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". .";
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}
