body{
  background: rgba(245, 245, 245, 1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  padding: 0 0 0 5vw;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
