.rightSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

h2{
  text-align: left;
  width: 55vw;
  font-size: 32px;
  font-weight: 800;
  margin-left: 3rem;
}

.search-container{
  display: flex;
  justify-content: space-around ;
  align-items: center;
  width: 55vw;
}

.requestButton{
  display: flex;
  justify-content: end;
  width: 55vw;
}

.btn-Solicitud {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: small;
  border: none;
  background-color: #39A900;
  border-radius: 5px;
  padding: 1vh 1.5vw;
  margin: 0.5rem;
}

.btn-Solicitud:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #328d04;
} 